<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form class="form-vertical text-left" name="editForm">
			<h3 class="text-center">Delete office</h3>
			<fieldset ng-show="dataReceived">
				<div class="form-group">
					<label for="inputName">Name</label>
					<input id="inputName" type="text" class="form-control" placeholder="Name" ng-model="office.name" readonly />
				</div>
				<div class="form-group">
					<label for="inputCountry">Country</label>
					<input id="inputCountry" type="text" class="form-control" placeholder="Country" ng-model="office.country" readonly />
				</div>
				<div class="form-group">
					<label for="inputCity">City</label>
					<input id="inputCity" type="text" class="form-control" placeholder="City" ng-model="office.city" readonly />
				</div>
				<div class="form-group">
					<label for="inputAddress">Address</label>
					<input id="inputAddress" type="text" class="form-control" placeholder="Address" ng-model="office.address" readonly />
				</div>
				<div class="form-group">
					<label for="inputPhone">Phone</label>
					<input id="inputPhone" type="text" class="form-control" placeholder="Phone" ng-model="office.phone" readonly />
				</div>
				<div class="form-group">
					<label for="inputImageUrl">ImageUrl</label>
					<input id="inputImageUrl" type="text" class="form-control" placeholder="ImageUrl" ng-model="office.imageUrl" readonly />
				</div>
				<div class="form-group">
					<button class="btn btn-danger" ng-click="delete($event)" ng-disabled="editForm.$invalid" >Delete</button>
					<button class="btn" ng-click="cancel($event)" >Cancel</button>
				</div>
			</fieldset>
			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
		</form>

	</div>
	<div class="col-md-4"></div>
</div>
