<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form class="form-vertical text-left" name="editForm">
			<h3 class="text-center">Office</h3>
			<fieldset ng-show="dataReceived">
				<div class="form-group">
					<label for="valueName">Name</label>
					<div id="valueName">{{office.name}}</div>
				</div>
				<div class="form-group">
					<label for="valueCountry">Country</label>
					<div id="valueCountry">{{office.country}}</div>
				</div>
				<div class="form-group">
					<label for="valueCity">City</label>
					<div id="valueCity">{{office.city}}</div>
				</div>
				<div class="form-group">
					<label for="valueAddress">Address</label>
					<div id="valueAddress">{{office.address}}</div>
				</div>
				<div class="form-group">
					<label for="valuePhone">Phone</label>
					<div id="valuePhone">{{office.phone}}</div>
				</div>
				<div class="form-group">
					<label for="valueImageUrl">ImageUrl</label>
					<div id="valueImageUrl">{{office.imageUrl}}</div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" ng-click="gotoList($event)" >Back</button>
					<button class="btn btn-primary" ng-click="edit($event)" >Edit</button>
				</div>
			</fieldset>
			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
		</form>

	</div>
	<div class="col-md-4"></div>
</div>
